body {

  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: rgb(217,86,79);
}

#root{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  width: 70vw;
}

.timer-container-header{
  padding: 1em;
}

.timer-container-header-item{
  display: inline;
  margin: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.active{
  background-color:rgba(255, 255, 255, 0.184);
  border-radius: 0.5em;
  font-weight: bold;
}

.pomodoro-active{
  color:#d9564f;
}

.short-break-active{
  color: #4d9095;
}

.long-break-active{
  color: #447ca2;
}